/*
	This is a CSS style sheet
	name: Kevin Brash
	student #: A00589945
	date: June 13, 2012
*/

#gui{
	position:absolute;
	background-image:url('images/facebit4.png');
	height:640px;
	width:640px;
	}


#top{
	position:absolute;
	
	background-image:url('images/facebit8.png');
	height:640px;
	width:640px;
	}



	
#bottom{
	position:absolute;
	
	height:640px;
	width:640px;
	
	}
	

#middle{
	
	
	}
	
#blank{
	position:relative;
	float:left;
	width:40px;
	height:40px;
	opacity:0;
	}
	
.box1{
position:relative;
float:left;
background-color:#3a1804;
width:40px;
height:40px;

}
.box1:hover{
	opacity:0;
	
	
	
	}

.box2{
position:relative;
float:left;
background-color:#381604;
width:40px;
height:40px;
}

.box2:hover{
	opacity:0;
	}

.box3{
position:relative;
float:left;
background-color:#381004;
width:40px;
height:40px;
}

.box3:hover{
	opacity:0;
	}

.box4{
position:relative;
float:left;
background-color:#361006;
width:40px;
height:40px;
}

.box4:hover{
	opacity:0;
	}
	
.box5{
position:relative;
float:left;
background-color:#351007;
width:40px;
height:40px;

}
.box5:hover{
	opacity:0;
	}

.box6{
position:relative;
float:left;
background-color:#360f02;
width:40px;
height:40px;
}

.box6:hover{
	opacity:0;
	}

.box7{
position:relative;
float:left;
background-color:#511c07;
width:40px;
height:40px;
}

.box7:hover{
	opacity:0;
	}

.box8{
position:relative;
float:left;
background-color:#703116;
width:40px;
height:40px;
}

.box8:hover{
	opacity:0;
	}
	
.box9{
position:relative;
float:left;
background-color:#642b13;
width:40px;
height:40px;

}
.box9:hover{
	opacity:0;
	}

.box10{
position:relative;
float:left;
background-color:#4e1905;
width:40px;
height:40px;
}

.box10:hover{
	opacity:0;
	}

.box11{
position:relative;
float:left;
background-color:#5e1b03;
width:40px;
height:40px;
}

.box11:hover{
	opacity:0;
	}

.box12{
position:relative;
float:left;
background-color:#601e07;
width:40px;
height:40px;
}

.box12:hover{
	opacity:0;
	}
	
.box13{
position:relative;
float:left;
background-color:#411609;
width:40px;
height:40px;

}
.box13:hover{
	opacity:0;
	}

.box14{
position:relative;
float:left;
background-color:#2a130a;
width:40px;
height:40px;
}

.box14:hover{
	opacity:0;
	}

.box15{
position:relative;
float:left;
background-color:#2a130a;
width:40px;
height:40px;
}

.box15:hover{
	opacity:0;
	}

.box16{
position:relative;
float:left;
background-color:#2e150e;
width:40px;
height:40px;
}

.box16:hover{
	opacity:0;
	}
	
.box21{
position:relative;
float:left;
background-color:#3b1904;
width:40px;
height:40px;

}
.box21:hover{
	opacity:0;
	}

.box22{
position:relative;
float:left;
background-color:#411a05;
width:40px;
height:40px;
}

.box22:hover{
	opacity:0;
	}

.box23{
position:relative;
float:left;
background-color:#511b08;
width:40px;
height:40px;
}

.box23:hover{
	opacity:0;
	}

.box24{
position:relative;
float:left;
background-color:#290a03;
width:40px;
height:40px;
}

.box24:hover{
	opacity:0;
	}
	
.box25{
position:relative;
float:left;
background-color:#421708;
width:40px;
height:40px;

}
.box25:hover{
	opacity:0;
	}

.box26{
position:relative;
float:left;
background-color:#491602;
width:40px;
height:40px;
}

.box26:hover{
	opacity:0;
	}

.box27{
position:relative;
float:left;
background-color:#501b06;
width:40px;
height:40px;
}

.box27:hover{
	opacity:0;
	}

.box28{
position:relative;
float:left;
background-color:#531e0c;
width:40px;
height:40px;
}

.box28:hover{
	opacity:0;
	}
	
.box29{
position:relative;
float:left;
background-color:#571d0b;
width:40px;
height:40px;

}
.box29:hover{
	opacity:0;
	}

.box210{
position:relative;
float:left;
background-color:#531c09;
width:40px;
height:40px;
}

.box210:hover{
	opacity:0;
	}

.box211{
position:relative;
float:left;
background-color:#531c09;
width:40px;
height:40px;
}

.box211:hover{
	opacity:0;
	}

.box212{
position:relative;
float:left;
background-color:#2c0703;
width:40px;
height:40px;
}

.box212:hover{
	opacity:0;
	}
	
.box213{
position:relative;
float:left;
background-color:#491005;
width:40px;
height:40px;

}
.box213:hover{
	opacity:0;
	}

.box214{
position:relative;
float:left;
background-color:#391508;
width:40px;
height:40px;
}

.box214:hover{
	opacity:0;
	}

.box215{
position:relative;
float:left;
background-color:#2a140a;
width:40px;
height:40px;
}

.box215:hover{
	opacity:0;
	}

.box216{
position:relative;
float:left;
background-color:#29140c;
width:40px;
height:40px;
}

.box216:hover{
	opacity:0;
	}

.box31{
position:relative;
float:left;
background-color:#361702;
width:40px;
height:40px;

}
.box31:hover{
	opacity:0;
	}

.box32{
position:relative;
float:left;
background-color:#58260f;
width:40px;
height:40px;
}

.box32:hover{
	opacity:0;
	}

.box33{
position:relative;
float:left;
background-color:#50200c;
width:40px;
height:40px;
}

.box33:hover{
	opacity:0;
	}

.box34{
position:relative;
float:left;
background-color:#120301;
width:40px;
height:40px;
}

.box34:hover{
	opacity:0;
	}
	
.box35{
position:relative;
float:left;
background-color:#36150f;
width:40px;
height:40px;

}
.box35:hover{
	opacity:0;
	}

.box36{
position:relative;
float:left;
background-color:#652819;
width:40px;
height:40px;
}

.box36:hover{
	opacity:0;
	}

.box37{
position:relative;
float:left;
background-color:#8a4232;
width:40px;
height:40px;
}

.box37:hover{
	opacity:0;
	}

.box38{
position:relative;
float:left;
background-color:#b4665a;
width:40px;
height:40px;
}

.box38:hover{
	opacity:0;
	}
	
.box39{
position:relative;
float:left;
background-color:#c2705f;
width:40px;
height:40px;

}
.box39:hover{
	opacity:0;
	}

.box310{
position:relative;
float:left;
background-color:#a75248;
width:40px;
height:40px;
}

.box310:hover{
	opacity:0;
	}

.box311{
position:relative;
float:left;
background-color:#59231c;
width:40px;
height:40px;
}

.box311:hover{
	opacity:0;
	}

.box312{
position:relative;
float:left;
background-color:#170101;
width:40px;
height:40px;
}

.box312:hover{
	opacity:0;
	}
	
.box313{
position:relative;
float:left;
background-color:#330702;
width:40px;
height:40px;

}
.box313:hover{
	opacity:0;
	}

.box314{
position:relative;
float:left;
background-color:#330702;
width:40px;
height:40px;
}

.box314:hover{
	opacity:0;
	}

.box315{
position:relative;
float:left;
background-color:#2a140d;
width:40px;
height:40px;
}

.box315:hover{
	opacity:0;
	}

.box316{
position:relative;
float:left;
background-color:#28130c;
width:40px;
height:40px;
}

.box316:hover{
	opacity:0;
	}
	
.box41{
position:relative;
float:left;
background-color:#3a1706;
width:40px;
height:40px;

}
.box41:hover{
	opacity:0;
	}

.box42{
position:relative;
float:left;
background-color:#451d11;
width:40px;
height:40px;
}

.box42:hover{
	opacity:0;
	}

.box43{
position:relative;
float:left;
background-color:#210e03;
width:40px;
height:40px;
}

.box43:hover{
	opacity:0;
	}

.box44{
position:relative;
float:left;
background-color:#a0564a;
width:40px;
height:40px;
}

.box44:hover{
	opacity:0;
	}
	
.box45{
position:relative;
float:left;
background-color:#df897d;
width:40px;
height:40px;

}
.box45:hover{
	opacity:0;
	}

.box46{
position:relative;
float:left;
background-color:#e48c83;
width:40px;
height:40px;
}

.box46:hover{
	opacity:0;
	}

.box47{
position:relative;
float:left;
background-color:#fdb3a4;
width:40px;
height:40px;
}

.box47:hover{
	opacity:0;
	}

.box48{
position:relative;
float:left;
background-color:#ffd0b7;
width:40px;
height:40px;
}

.box48:hover{
	opacity:0;
	}
	
.box49{
position:relative;
float:left;
background-color:#ffd0ac;
width:40px;
height:40px;

}
.box49:hover{
	opacity:0;
	}

.box410{
position:relative;
float:left;
background-color:#ffbf9c;
width:40px;
height:40px;
}

.box410:hover{
	opacity:0;
	}

.box411{
position:relative;
float:left;
background-color:#fca584;
width:40px;
height:40px;
}

.box411:hover{
	opacity:0;
	}

.box412{
position:relative;
float:left;
background-color:#56241b;
width:40px;
height:40px;
}

.box412:hover{
	opacity:0;
	}
	
.box413{
position:relative;
float:left;
background-color:#130000;
width:40px;
height:40px;

}
.box413:hover{
	opacity:0;
	}

.box414{
position:relative;
float:left;
background-color:#3b0d06;
width:40px;
height:40px;
}

.box414:hover{
	opacity:0;
	}

.box415{
position:relative;
float:left;
background-color:#27110a;
width:40px;
height:40px;
}

.box415:hover{
	opacity:0;
	}

.box416{
position:relative;
float:left;
background-color:#23100a;
width:40px;
height:40px;
}

.box416:hover{
	opacity:0;
	}
	
.box51{
position:relative;
float:left;
background-color:#3d1807;
width:40px;
height:40px;

}
.box51:hover{
	opacity:0;
	}

.box52{
position:relative;
float:left;
background-color:#1c0c07;
width:40px;
height:40px;
}

.box52:hover{
	opacity:0;
	}

.box53{
position:relative;
float:left;
background-color:#291512;
width:40px;
height:40px;
}

.box53:hover{
	opacity:0;
	}

.box54{
position:relative;
float:left;
background-color:#f18e76;
width:40px;
height:40px;
}

.box54:hover{
	opacity:0;
	}
	
.box55{
position:relative;
float:left;
background-color:#ffaf99;
width:40px;
height:40px;

}
.box55:hover{
	opacity:0;
	}

.box56{
position:relative;
float:left;
background-color:#febda7;
width:40px;
height:40px;
}

.box56:hover{
	opacity:0;
	}

.box57{
position:relative;
float:left;
background-color:#fcc9ad;
width:40px;
height:40px;
}

.box57:hover{
	opacity:0;
	}

.box58{
position:relative;
float:left;
background-color:#fedcbd;
width:40px;
height:40px;
}

.box58:hover{
	opacity:0;
	}
	
.box59{
position:relative;
float:left;
background-color:#fed4ae;
width:40px;
height:40px;

}
.box59:hover{
	opacity:0;
	}

.box510{
position:relative;
float:left;
background-color:#fbbe95;
width:40px;
height:40px;
}

.box510:hover{
	opacity:0;
	}

.box511{
position:relative;
float:left;
background-color:#ffba8b;
width:40px;
height:40px;
}

.box511:hover{
	opacity:0;
	}

.box512{
position:relative;
float:left;
background-color:#bc6748;
width:40px;
height:40px;
}

.box512:hover{
	opacity:0;
	}
	
.box513{
position:relative;
float:left;
background-color:#080000;
width:40px;
height:40px;

}
.box513:hover{
	opacity:0;
	}

.box514{
position:relative;
float:left;
background-color:#480e07;
width:40px;
height:40px;
}

.box514:hover{
	opacity:0;
	}

.box515{
position:relative;
float:left;
background-color:#350e07;
width:40px;
height:40px;
}

.box515:hover{
	opacity:0;
	}

.box516{
position:relative;
float:left;
background-color:#1c0c06;
width:40px;
height:40px;
}

.box516:hover{
	opacity:0;
	}
	
.box61{
position:relative;
float:left;
background-color:#331604;
width:40px;
height:40px;

}
.box61:hover{
	opacity:0;
	}

.box62{
position:relative;
float:left;
background-color:#251207;
width:40px;
height:40px;
}

.box62:hover{
	opacity:0;
	}

.box63{
position:relative;
float:left;
background-color:#4b281d;
width:40px;
height:40px;
}

.box63:hover{
	opacity:0;
	}

.box64{
position:relative;
float:left;
background-color:#ff9d7e;
width:40px;
height:40px;
}

.box64:hover{
	opacity:0;
	}
	
.box65{
position:relative;
float:left;
background-color:#ffbea3;
width:40px;
height:40px;

}
.box65:hover{
	opacity:0;
	}

.box66{
position:relative;
float:left;
background-color:#ffc9b3;
width:40px;
height:40px;
}

.box66:hover{
	opacity:0;
	}

.box67{
position:relative;
float:left;
background-color:#febaa8;
width:40px;
height:40px;
}

.box67:hover{
	opacity:0;
	}

.box68{
position:relative;
float:left;
background-color:#d28a7d;
width:40px;
height:40px;
}

.box68:hover{
	opacity:0;
	}
	
.box69{
position:relative;
float:left;
background-color:#a85e4d;
width:40px;
height:40px;

}
.box69:hover{
	opacity:0;
	}

.box610{
position:relative;
float:left;
background-color:#c66f56;
width:40px;
height:40px;
}

.box610:hover{
	opacity:0;
	}

.box611{
position:relative;
float:left;
background-color:#d16947;
width:40px;
height:40px;
}

.box611:hover{
	opacity:0;
	}

.box612{
position:relative;
float:left;
background-color:#e97a4e;
width:40px;
height:40px;
}

.box612:hover{
	opacity:0;
	}
	
.box613{
position:relative;
float:left;
background-color:#602a1e;
width:40px;
height:40px;

}
.box613:hover{
	opacity:0;
	}

.box614{
position:relative;
float:left;
background-color:#862718;
width:40px;
height:40px;
}

.box614:hover{
	opacity:0;
	}

.box615{
position:relative;
float:left;
background-color:#8a362b;
width:40px;
height:40px;
}

.box615:hover{
	opacity:0;
	}

.box616{
position:relative;
float:left;
background-color:#1a0b05;
width:40px;
height:40px;
}

.box616:hover{
	opacity:0;
	}
	
.box71{
position:relative;
float:left;
background-color:#2b0e01;
width:40px;
height:40px;

}
.box71:hover{
	opacity:0;
	}

.box72{
position:relative;
float:left;
background-color:#2c1107;
width:40px;
height:40px;
}

.box72:hover{
	opacity:0;
	}

.box73{
position:relative;
float:left;
background-color:#5c2f22;
width:40px;
height:40px;
}

.box73:hover{
	opacity:0;
	}

.box74{
position:relative;
float:left;
background-color:#ec8f6f;
width:40px;
height:40px;
}

.box74:hover{
	opacity:0;
	}
	
.box75{
position:relative;
float:left;
background-color:#ba6d5a;
width:40px;
height:40px;

}
.box75:hover{
	opacity:0;
	}

.box76{
position:relative;
float:left;
background-color:#dc8775;
width:40px;
height:40px;
}

.box76:hover{
	opacity:0;
	}

.box77{
position:relative;
float:left;
background-color:#fda492;
width:40px;
height:40px;
}

.box77:hover{
	opacity:0;
	}

.box78{
position:relative;
float:left;
background-color:#9c3b2c;
width:40px;
height:40px;
}

.box78:hover{
	opacity:0;
	}
	
.box79{
position:relative;
float:left;
background-color:#803f3c;
width:40px;
height:40px;

}
.box79:hover{
	opacity:0;
	}

.box710{
position:relative;
float:left;
background-color:#8e463b;
width:40px;
height:40px;
}

.box710:hover{
	opacity:0;
	}

.box711{
position:relative;
float:left;
background-color:#b55937;
width:40px;
height:40px;
}

.box711:hover{
	opacity:0;
	}

.box712{
position:relative;
float:left;
background-color:#fd9d70;
width:40px;
height:40px;
}

.box712:hover{
	opacity:0;
	}
	
.box713{
position:relative;
float:left;
background-color:#d0714f;
width:40px;
height:40px;

}
.box713:hover{
	opacity:0;
	}

.box714{
position:relative;
float:left;
background-color:#b23d28;
width:40px;
height:40px;
}

.box714:hover{
	opacity:0;
	}

.box715{
position:relative;
float:left;
background-color:#b76453;
width:40px;
height:40px;
}

.box715:hover{
	opacity:0;
	}

.box716{
position:relative;
float:left;
background-color:#1f0905;
width:40px;
height:40px;
}

.box716:hover{
	opacity:0;
	}
	
.box81{
position:relative;
float:left;
background-color:#170601;
width:40px;
height:40px;

}
.box81:hover{
	opacity:0;
	}

.box82{
position:relative;
float:left;
background-color:#421e0e;
width:40px;
height:40px;
}

.box82:hover{
	opacity:0;
	}

.box83{
position:relative;
float:left;
background-color:#532313;
width:40px;
height:40px;
}

.box83:hover{
	opacity:0;
	}

.box84{
position:relative;
float:left;
background-color:#8d412d;
width:40px;
height:40px;
}

.box84:hover{
	opacity:0;
	}
	
.box85{
position:relative;
float:left;
background-color:#632f2c;
width:40px;
height:40px;

}
.box85:hover{
	opacity:0;
	}

.box86{
position:relative;
float:left;
background-color:#7b3a35;
width:40px;
height:40px;
}

.box86:hover{
	opacity:0;
	}

.box87{
position:relative;
float:left;
background-color:#b06c54;
width:40px;
height:40px;
}

.box87:hover{
	opacity:0;
	}

.box88{
position:relative;
float:left;
background-color:#d17559;
width:40px;
height:40px;
}

.box88:hover{
	opacity:0;
	}
	
.box89{
position:relative;
float:left;
background-color:#d37161;
width:40px;
height:40px;

}
.box89:hover{
	opacity:0;
	}

.box810{
position:relative;
float:left;
background-color:#dc755e;
width:40px;
height:40px;
}

.box810:hover{
	opacity:0;
	}

.box811{
position:relative;
float:left;
background-color:#f29b75;
width:40px;
height:40px;
}

.box811:hover{
	opacity:0;
	}

.box812{
position:relative;
float:left;
background-color:#ffba92;
width:40px;
height:40px;
}

.box812:hover{
	opacity:0;
	}
	
.box813{
position:relative;
float:left;
background-color:#ed7a51;
width:40px;
height:40px;

}
.box813:hover{
	opacity:0;
	}

.box814{
position:relative;
float:left;
background-color:#e0694a;
width:40px;
height:40px;
}

.box814:hover{
	opacity:0;
	}

.box815{
position:relative;
float:left;
background-color:#c37860;
width:40px;
height:40px;
}

.box815:hover{
	opacity:0;
	}

.box816{
position:relative;
float:left;
background-color:#240d07;
width:40px;
height:40px;
}

.box816:hover{
	opacity:0;
	}
	

	
.box91{
position:relative;
float:left;
background-color:#2f1107;
width:40px;
height:40px;

}
.box91:hover{
	opacity:0;
	}

.box92{
position:relative;
float:left;
background-color:#82421b;
width:40px;
height:40px;
}

.box92:hover{
	opacity:0;
	}

.box93{
position:relative;
float:left;
background-color:#532412;
width:40px;
height:40px;
}

.box93:hover{
	opacity:0;
	}

.box94{
position:relative;
float:left;
background-color:#ad533d;
width:40px;
height:40px;
}

.box94:hover{
	opacity:0;
	}
	
.box95{
position:relative;
float:left;
background-color:#ba584a;
width:40px;
height:40px;

}
.box95:hover{
	opacity:0;
	}

.box96{
position:relative;
float:left;
background-color:#ad5749;
width:40px;
height:40px;
}

.box96:hover{
	opacity:0;
	}

.box97{
position:relative;
float:left;
background-color:#df9c83;
width:40px;
height:40px;
}

.box97:hover{
	opacity:0;
	}

.box98{
position:relative;
float:left;
background-color:#d97e65;
width:40px;
height:40px;
}

.box98:hover{
	opacity:0;
	}
	
.box99{
position:relative;
float:left;
background-color:#ed8d6f;
width:40px;
height:40px;

}
.box99:hover{
	opacity:0;
	}

.box910{
position:relative;
float:left;
background-color:#f4ae98;
width:40px;
height:40px;
}

.box910:hover{
	opacity:0;
	}

.box911{
position:relative;
float:left;
background-color:#febda5;
width:40px;
height:40px;
}

.box911:hover{
	opacity:0;
	}

.box912{
position:relative;
float:left;
background-color:#fcaf8b;
width:40px;
height:40px;
}

.box912:hover{
	opacity:0;
	}
	
.box913{
position:relative;
float:left;
background-color:#fc895c;
width:40px;
height:40px;

}
.box913:hover{
	opacity:0;
	}

.box914{
position:relative;
float:left;
background-color:#fc8f68;
width:40px;
height:40px;
}

.box914:hover{
	opacity:0;
	}

.box915{
position:relative;
float:left;
background-color:#e1896d;
width:40px;
height:40px;
}

.box915:hover{
	opacity:0;
	}

.box916{
position:relative;
float:left;
background-color:#411e0d;
width:40px;
height:40px;
}

.box916:hover{
	opacity:0;
	}
	
.boxa1{
position:relative;
float:left;
background-color:#401c0b;
width:40px;
height:40px;

}
.boxa1:hover{
	opacity:0;
	}

.boxa2{
position:relative;
float:left;
background-color:#753815;
width:40px;
height:40px;
}

.boxa2:hover{
	opacity:0;
	}

.boxa3{
position:relative;
float:left;
background-color:#58270e;
width:40px;
height:40px;
}

.boxa3:hover{
	opacity:0;
	}

.boxa4{
position:relative;
float:left;
background-color:#c76b4f;
width:40px;
height:40px;
}

.boxa4:hover{
	opacity:0;
	}
	
.boxa5{
position:relative;
float:left;
background-color:#e9896d;
width:40px;
height:40px;

}
.boxa5:hover{
	opacity:0;
	}

.boxa6{
position:relative;
float:left;
background-color:#e77d66;
width:40px;
height:40px;
}

.boxa6:hover{
	opacity:0;
	}

.boxa7{
position:relative;
float:left;
background-color:#fcb899;
width:40px;
height:40px;
}

.boxa7:hover{
	opacity:0;
	}

.boxa8{
position:relative;
float:left;
background-color:#f5a788;
width:40px;
height:40px;
}

.boxa8:hover{
	opacity:0;
	}
	
.boxa9{
position:relative;
float:left;
background-color:#ea8474;
width:40px;
height:40px;

}
.boxa9:hover{
	opacity:0;
	}

.boxa10{
position:relative;
float:left;
background-color:#ed8d84;
width:40px;
height:40px;
}

.boxa10:hover{
	opacity:0;
	}

.boxa11{
position:relative;
float:left;
background-color:#fa968a;
width:40px;
height:40px;
}

.boxa11:hover{
	opacity:0;
	}

.boxa12{
position:relative;
float:left;
background-color:#ed7d61;
width:40px;
height:40px;
}

.boxa12:hover{
	opacity:0;
	}
	
.boxa13{
position:relative;
float:left;
background-color:#fb8e5f;
width:40px;
height:40px;

}
.boxa13:hover{
	opacity:0;
	}

.boxa14{
position:relative;
float:left;
background-color:#f0844d;
width:40px;
height:40px;
}

.boxa14:hover{
	opacity:0;
	}

.boxa15{
position:relative;
float:left;
background-color:#cb5d37;
width:40px;
height:40px;
}

.boxa15:hover{
	opacity:0;
	}

.boxa16{
position:relative;
float:left;
background-color:#552010;
width:40px;
height:40px;
}

.boxa16:hover{
	opacity:0;
	}
	
.boxb1{
position:relative;
float:left;
background-color:#070200;
width:40px;
height:40px;

}
.boxb1:hover{
	opacity:0;
	}

.boxb2{
position:relative;
float:left;
background-color:#1b0c06;
width:40px;
height:40px;
}

.boxb2:hover{
	opacity:0;
	}

.boxb3{
position:relative;
float:left;
background-color:#49200c;
width:40px;
height:40px;
}

.boxb3:hover{
	opacity:0;
	}

.boxb4{
position:relative;
float:left;
background-color:#db7b65;
width:40px;
height:40px;
}

.boxb4:hover{
	opacity:0;
	}
	
.boxb5{
position:relative;
float:left;
background-color:#ff9b96;
width:40px;
height:40px;

}
.boxb5:hover{
	opacity:0;
	}

.boxb6{
position:relative;
float:left;
background-color:#de7873;
width:40px;
height:40px;
}

.boxb6:hover{
	opacity:0;
	}

.boxb7{
position:relative;
float:left;
background-color:#c15740;
width:40px;
height:40px;
}

.boxb7:hover{
	opacity:0;
	}

.boxb8{
position:relative;
float:left;
background-color:#ab5043;
width:40px;
height:40px;
}

.boxb8:hover{
	opacity:0;
	}
	
.boxb9{
position:relative;
float:left;
background-color:#e99585;
width:40px;
height:40px;

}
.boxb9:hover{
	opacity:0;
	}

.boxb10{
position:relative;
float:left;
background-color:#da7b68;
width:40px;
height:40px;
}

.boxb10:hover{
	opacity:0;
	}

.boxb11{
position:relative;
float:left;
background-color:#d26c5f;
width:40px;
height:40px;
}

.boxb11:hover{
	opacity:0;
	}

.boxb12{
position:relative;
float:left;
background-color:#e47964;
width:40px;
height:40px;
}

.boxb12:hover{
	opacity:0;
	}
	
.boxb13{
position:relative;
float:left;
background-color:#fb8860;
width:40px;
height:40px;

}
.boxb13:hover{
	opacity:0;
	}

.boxb14{
position:relative;
float:left;
background-color:#f1935e;
width:40px;
height:40px;
}

.boxb14:hover{
	opacity:0;
	}

.boxb15{
position:relative;
float:left;
background-color:#eeb172;
width:40px;
height:40px;
}

.boxb15:hover{
	opacity:0;
	}

.boxb16{
position:relative;
float:left;
background-color:#c5864e;
width:40px;
height:40px;
}

.boxb16:hover{
	opacity:0;
	}
	
.boxc1{
position:relative;
float:left;
background-color:#020100;
width:40px;
height:40px;

}
.boxc1:hover{
	opacity:0;
	}

.boxc2{
position:relative;
float:left;
background-color:#000000;
width:40px;
height:40px;
}

.boxc2:hover{
	opacity:0;
	}

.boxc3{
position:relative;
float:left;
background-color:#150501;
width:40px;
height:40px;
}

.boxc3:hover{
	opacity:0;
	}

.boxc4{
position:relative;
float:left;
background-color:#934436;
width:40px;
height:40px;
}

.boxc4:hover{
	opacity:0;
	}
	
.boxc5{
position:relative;
float:left;
background-color:#e7786e;
width:40px;
height:40px;

}
.boxc5:hover{
	opacity:0;
	}

.boxc6{
position:relative;
float:left;
background-color:#c66961;
width:40px;
height:40px;
}

.boxc6:hover{
	opacity:0;
	}

.boxc7{
position:relative;
float:left;
background-color:#be5a4b;
width:40px;
height:40px;
}

.boxc7:hover{
	opacity:0;
	}

.boxc8{
position:relative;
float:left;
background-color:#cd6d63;
width:40px;
height:40px;
}

.boxc8:hover{
	opacity:0;
	}
	
.boxc9{
position:relative;
float:left;
background-color:#d26b61;
width:40px;
height:40px;

}
.boxc9:hover{
	opacity:0;
	}

.boxc10{
position:relative;
float:left;
background-color:#b55547;
width:40px;
height:40px;
}

.boxc10:hover{
	opacity:0;
	}

.boxc11{
position:relative;
float:left;
background-color:#d5806f;
width:40px;
height:40px;
}

.boxc11:hover{
	opacity:0;
	}

.boxc12{
position:relative;
float:left;
background-color:#f28c76;
width:40px;
height:40px;
}

.boxc12:hover{
	opacity:0;
	}
	
.boxc13{
position:relative;
float:left;
background-color:#ea7554;
width:40px;
height:40px;

}
.boxc13:hover{
	opacity:0;
	}

.boxc14{
position:relative;
float:left;
background-color:#e87940;
width:40px;
height:40px;
}

.boxc14:hover{
	opacity:0;
	}

.boxc15{
position:relative;
float:left;
background-color:#cf8d5e;
width:40px;
height:40px;
}

.boxc15:hover{
	opacity:0;
	}

.boxc16{
position:relative;
float:left;
background-color:#e4a676;
width:40px;
height:40px;
}

.boxc16:hover{
	opacity:0;
	}
	
.boxd1{
position:relative;
float:left;
background-color:#0d0504;
width:40px;
height:40px;

}
.boxd1:hover{
	opacity:0;
	}

.boxd2{
position:relative;
float:left;
background-color:#000001;
width:40px;
height:40px;
}

.boxd2:hover{
	opacity:0;
	}

.boxd3{
position:relative;
float:left;
background-color:#140a07;
width:40px;
height:40px;
}

.boxd3:hover{
	opacity:0;
	}

.boxd4{
position:relative;
float:left;
background-color:#2a120c;
width:40px;
height:40px;
}

.boxd4:hover{
	opacity:0;
	}
	
.boxd5{
position:relative;
float:left;
background-color:#c86a58;
width:40px;
height:40px;

}
.boxd5:hover{
	opacity:0;
	}

.boxd6{
position:relative;
float:left;
background-color:#c26f64;
width:40px;
height:40px;
}

.boxd6:hover{
	opacity:0;
	}

.boxd7{
position:relative;
float:left;
background-color:#b4483e;
width:40px;
height:40px;
}

.boxd7:hover{
	opacity:0;
	}

.boxd8{
position:relative;
float:left;
background-color:#d0635b;
width:40px;
height:40px;
}

.boxd8:hover{
	opacity:0;
	}
	
.boxd9{
position:relative;
float:left;
background-color:#e26e64;
width:40px;
height:40px;

}
.boxd9:hover{
	opacity:0;
	}

.boxd10{
position:relative;
float:left;
background-color:#fb9980;
width:40px;
height:40px;
}

.boxd10:hover{
	opacity:0;
	}

.boxd11{
position:relative;
float:left;
background-color:#f29e85;
width:40px;
height:40px;
}

.boxd11:hover{
	opacity:0;
	}

.boxd12{
position:relative;
float:left;
background-color:#e38066;
width:40px;
height:40px;
}

.boxd12:hover{
	opacity:0;
	}
	
.boxd13{
position:relative;
float:left;
background-color:#c55634;
width:40px;
height:40px;

}
.boxd13:hover{
	opacity:0;
	}

.boxd14{
position:relative;
float:left;
background-color:#ea8254;
width:40px;
height:40px;
}

.boxd14:hover{
	opacity:0;
	}

.boxd15{
position:relative;
float:left;
background-color:#eabc96;
width:40px;
height:40px;
}

.boxd15:hover{
	opacity:0;
	}

.boxd16{
position:relative;
float:left;
background-color:#cd9d82;
width:40px;
height:40px;
}

.boxd16:hover{
	opacity:0;
	}
	
.boxe1{
position:relative;
float:left;
background-color:#120805;
width:40px;
height:40px;

}
.boxe1:hover{
	opacity:0;
	}

.boxe2{
position:relative;
float:left;
background-color:#030100;
width:40px;
height:40px;
}

.boxe2:hover{
	opacity:0;
	}

.boxe3{
position:relative;
float:left;
background-color:#080200;
width:40px;
height:40px;
}

.boxe3:hover{
	opacity:0;
	}

.boxe4{
position:relative;
float:left;
background-color:#2b1811;
width:40px;
height:40px;
}

.boxe4:hover{
	opacity:0;
	}
	
.boxe5{
position:relative;
float:left;
background-color:#b46048;
width:40px;
height:40px;

}
.boxe5:hover{
	opacity:0;
	}

.boxe6{
position:relative;
float:left;
background-color:#df8372;
width:40px;
height:40px;
}

.boxe6:hover{
	opacity:0;
	}

.boxe7{
position:relative;
float:left;
background-color:#e97e6e;
width:40px;
height:40px;
}

.boxe7:hover{
	opacity:0;
	}

.boxe8{
position:relative;
float:left;
background-color:#d16759;
width:40px;
height:40px;
}

.boxe8:hover{
	opacity:0;
	}
	
.boxe9{
position:relative;
float:left;
background-color:#ed9587;
width:40px;
height:40px;

}
.boxe9:hover{
	opacity:0;
	}

.boxe10{
position:relative;
float:left;
background-color:#ffb299;
width:40px;
height:40px;
}

.boxe10:hover{
	opacity:0;
	}

.boxe11{
position:relative;
float:left;
background-color:#e68b72;
width:40px;
height:40px;
}

.boxe11:hover{
	opacity:0;
	}

.boxe12{
position:relative;
float:left;
background-color:#b3553a;
width:40px;
height:40px;
}

.boxe12:hover{
	opacity:0;
	}
	
.boxe13{
position:relative;
float:left;
background-color:#b74c25;
width:40px;
height:40px;

}
.boxe13:hover{
	opacity:0;
	}

.boxe14{
position:relative;
float:left;
background-color:#f7a67f;
width:40px;
height:40px;
}

.boxe14:hover{
	opacity:0;
	}

.boxe15{
position:relative;
float:left;
background-color:#f3c195;
width:40px;
height:40px;
}

.boxe15:hover{
	opacity:0;
	}

.boxe16{
position:relative;
float:left;
background-color:#edb790;
width:40px;
height:40px;
}

.boxe16:hover{
	opacity:0;
	}
	
.boxf1{
position:relative;
float:left;
background-color:#080201;
width:40px;
height:40px;

}
.boxf1:hover{
	opacity:0;
	}

.boxf2{
position:relative;
float:left;
background-color:#010000;
width:40px;
height:40px;
}

.boxf2:hover{
	opacity:0;
	}

.boxf3{
position:relative;
float:left;
background-color:#472d27;
width:40px;
height:40px;
}

.boxf3:hover{
	opacity:0;
	}

.boxf4{
position:relative;
float:left;
background-color:#b27a65;
width:40px;
height:40px;
}

.boxf4:hover{
	opacity:0;
	}
	
.boxf5{
position:relative;
float:left;
background-color:#734d42;
width:40px;
height:40px;

}
.boxf5:hover{
	opacity:0;
	}

.boxf6{
position:relative;
float:left;
background-color:#964d3b;
width:40px;
height:40px;
}

.boxf6:hover{
	opacity:0;
	}

.boxf7{
position:relative;
float:left;
background-color:#e88a70;
width:40px;
height:40px;
}

.boxf7:hover{
	opacity:0;
	}

.boxf8{
position:relative;
float:left;
background-color:#fb9e8a;
width:40px;
height:40px;
}

.boxf8:hover{
	opacity:0;
	}
	
.boxf9{
position:relative;
float:left;
background-color:#ef9b8a;
width:40px;
height:40px;

}
.boxf9:hover{
	opacity:0;
	}

.boxf10{
position:relative;
float:left;
background-color:#d57d65;
width:40px;
height:40px;
}

.boxf10:hover{
	opacity:0;
	}

.boxf11{
position:relative;
float:left;
background-color:#9e4c34;
width:40px;
height:40px;
}

.boxf11:hover{
	opacity:0;
	}

.boxf12{
position:relative;
float:left;
background-color:#9b4020;
width:40px;
height:40px;
}

.boxf12:hover{
	opacity:0;
	}
	
.boxf13{
position:relative;
float:left;
background-color:#9b4020;
width:40px;
height:40px;

}
.boxf13:hover{
	opacity:0;
	}

.boxf14{
position:relative;
float:left;
background-color:#fac3a4;
width:40px;
height:40px;
}

.boxf14:hover{
	opacity:0;
	}

.boxf15{
position:relative;
float:left;
background-color:#efbb90;
width:40px;
height:40px;
}

.boxf15:hover{
	opacity:0;
	}

.boxf16{
position:relative;
float:left;
background-color:#e3b290;
width:40px;
height:40px;
}

.boxf16:hover{
	opacity:0;
	}

.boxg1{
position:relative;
float:left;
background-color:#3a251e;
width:40px;
height:40px;

}
.boxg1:hover{
	opacity:0;
	}

.boxg2{
position:relative;
float:left;
background-color:#986857;
width:40px;
height:40px;
}

.boxg2:hover{
	opacity:0;
	}

.boxg3{
position:relative;
float:left;
background-color:#bb8672;
width:40px;
height:40px;
}

.boxg3:hover{
	opacity:0;
	}

.boxg4{
position:relative;
float:left;
background-color:#9f776b;
width:40px;
height:40px;
}

.boxg4:hover{
	opacity:0;
	}
	
.boxg5{
position:relative;
float:left;
background-color:#595559;
width:40px;
height:40px;

}
.boxg5:hover{
	opacity:0;
	}

.boxg6{
position:relative;
float:left;
background-color:#6f4a41;
width:40px;
height:40px;
}

.boxg6:hover{
	opacity:0;
	}

.boxg7{
position:relative;
float:left;
background-color:#934329;
width:40px;
height:40px;
}

.boxg7:hover{
	opacity:0;
	}

.boxg8{
position:relative;
float:left;
background-color:#a24d36;
width:40px;
height:40px;
}

.boxg8:hover{
	opacity:0;
	}
	
.boxg9{
position:relative;
float:left;
background-color:#873c2a;
width:40px;
height:40px;

}
.boxg9:hover{
	opacity:0;
	}

.boxg10{
position:relative;
float:left;
background-color:#81361e;
width:40px;
height:40px;
}

.boxg10:hover{
	opacity:0;
	}

.boxg11{
position:relative;
float:left;
background-color:#8d371e;
width:40px;
height:40px;
}

.boxg11:hover{
	opacity:0;
	}

.boxg12{
position:relative;
float:left;
background-color:#a8472d;
width:40px;
height:40px;
}

.boxg12:hover{
	opacity:0;
	}
	
.boxg13{
position:relative;
float:left;
background-color:#eba189;
width:40px;
height:40px;

}
.boxg13:hover{
	opacity:0;
	}

.boxg14{
position:relative;
float:left;
background-color:#f8d9bb;
width:40px;
height:40px;
}

.boxg14:hover{
	opacity:0;
	}

.boxg15{
position:relative;
float:left;
background-color:#ecb488;
width:40px;
height:40px;
}

.boxg15:hover{
	opacity:0;
	}

.boxg16{
position:relative;
float:left;
background-color:#c6957c;
width:40px;
height:40px;
}

.boxg16:hover{
	opacity:0;
	}

